<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1003227832295-cnv4hjq0fuqqts0c2iag8dtp6ru2qahu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1003227832295-cnv4hjq0fuqqts0c2iag8dtp6ru2qahu</string>
	<key>API_KEY</key>
	<string>AIzaSyCOoAzWjHf8Ir8XJJWcjxbe1jpJ6mdCTrM</string>
	<key>GCM_SENDER_ID</key>
	<string>1003227832295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.cscoder.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-94a77</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-94a77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003227832295:ios:61ac21cb52abb78ac1a742</string>
</dict>
</plist>